:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #de2a60;
  transition: all 0.5s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  padding: 1rem;
  background-color: #555;
}

.text-center {
  text-align: center;
}

a {
  color: #dcdcdc;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justy-start {
  justify-content: flex-start;
}

.justy-between {
  justify-content: space-between;
}

.container {
  padding: 2rem;
  width: 96vw;
}

.ulTag {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.ulTag li {
  margin-right: 2rem;
}

.ulTag p {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  height: 54px;
}

img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.reviewImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
}

button {
  font-weight: bold;
  background-color: #f82f62;
  border-radius: 20px;
}

.marginBttom {
  margin-bottom: 1rem;
}

.marginTop {
  margin-top: 2rem;
}

form input {
  width: 200px;
  height: 28px;
}

.h100 {
  height: 100vh;
}

.logo {
  font-size: 24px;
}

/* header */
header {
  border-bottom: 1px solid #333;
}

header nav h4 {
  width: 92px;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  line-height: 38px;
  margin: 0;
}

header nav h4:hover {
  background-color: #333;
  transition: all ease-in-out 0.5s;
}

.myPage {
  background-color: #f82f62;
}

.myPage:hover {
  background-color: #de2a60;
}

/* movieList */
.movieList {
  position: relative;
}

.movieList .arrow {
  position: absolute;
  top: 40%;
  filter: hue-rotate(180deg) brightness(3.2);
}

.movieList .arrow.left {
  left: -50px;
  rotate: 180deg;
}

.movieList .arrow.right {
  right: 0;
}

.movieList .arrow:hover {
  filter: hue-rotate(180deg) brightness(1.2);
  transition: all ease-in-out 0.5;
}

.movieList li {
  width: 200px;
}

.typeTitle {
  margin-right: 1rem;
}

.typeContent {
  width: 100vw;
  padding: 0 2rem;
  overflow: scroll;
}

.typeContent li {
  position: relative;
}

.typeContent p {
  display: none;
}

.typeContent .grade {
  position: absolute;
  top: 230px;
  left: -2px;
}

/* movieType */
.movieType li {
  position: relative;
  margin-top: 2rem;
}

.movieType .grade {
  position: absolute;
  top: -60px;
  left: -12px;
}

.movieType .ulTag a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */
form button {
  border: none;
  margin-top: 2rem;
}
form button:hover {
  opacity: 0.5;
}
