@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #de2a60;
  transition: all 0.5s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  padding: 1rem;
  background-color: #555;
}

.text-center {
  text-align: center;
}

a {
  color: #dcdcdc;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justy-around {
  justify-content: space-around;
}

.justy-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justy-between {
  justify-content: space-between;
}

.container {
  padding: 1rem 3rem;
  width: 100vw;
  box-sizing: border-box;
}

.ulTag {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.ulTag li {
  margin-right: 2rem;
}

.ulTag p {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  height: 54px;
}

img {
  width: 200px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

button {
  font-weight: bold;
  background-color: #f82f62;
  border-radius: 20px;
}

.marginBttom {
  margin-bottom: 2rem;
}

.marginTop {
  margin-top: 2rem;
}

form input {
  width: 200px;
  height: 28px;
}

.h100 {
  height: 100vh;
}

.logo {
  font-size: 24px;
}

.gray {
  color: #888;
}

/* *********************************************************************************** */

/* Login */
form label {
  margin-right: 1rem;
}

/* Loading */
.loading {
  padding-left: 3rem;
}

.loading img {
  width: 140px;
  object-fit: cover;
  animation: 3s ease-in-out popcorn infinite;
}

@keyframes popcorn {
  0% {
    rotate: 60deg;
  }

  50% {
    rotate: -15deg;
  }

  100% {
    rotate: 60deg;
  }
}

/* notfound */
.notfound img,
.myPageMovie img {
  width: 200px;
}

/* *********************************************************************************** */

/* header */
header {
  border-bottom: 1px solid #333;
}

header nav h4 {
  width: 92px;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  line-height: 38px;
  margin: 0;
}

header nav h4:hover {
  background-color: #333;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 640px) {
  header .search,
  .hash {
    display: none;
  }
}

header .search form {
  width: 254px;
  background-color: #555;
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

header .search input {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #aeaeae;
  outline: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

#searchBox form button.searchBtn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}


#searchBox form button.searchBtn:hover {
  opacity: 0.5;
}

header .search i {
  margin-right: 0.7rem;
  font-size: 18px;
  color: #aeaeae;
}

.myPage {
  background-color: #f82f62;
}

.myPage:hover {
  background-color: #de2a60;
}

.hash li {
  margin-right: 0.5rem;
  min-height: 48px;
}

.hash li a {
  font-size: 14px;
  color: #999;
  border: 2px solid #999;
  border-radius: 20px;
  padding: 8px 16px;
  opacity: 0.8;
}

.hash li a:hover {
  border-color: #eee;
  color: #eee;
  transition: all 0.5s;
}

/* movieList */
.movieList {
  position: relative;
}

.movieList li {
  width: 200px;
}

.typeTitle {
  margin-right: 1rem;
}

/* .typeContent {
  padding: 0 2rem;
} */

.left300 {
  left: -300px;
}

.typeContent li {
  position: relative;
}

.typeContent p {
  display: none;
}

.typeContent .grade {
  position: absolute;
  top: 230px;
  left: -2px;
  text-shadow: 1px 1px 2px #333;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 2rem;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn.left {
  left: 0;
  top: 160px;
}

.scroll-btn.right {
  right: 0;
  top: 160px;
}

.scroll-btn:hover {
  opacity: 0.5;
}

/* movieType */
.movieType li {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  display: flex;
}

.movieType .grade {
  position: absolute;
  top: -60px;
  left: -12px;
}

.movieType .ulTag a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* movieDetail */
.movieDetail img {
  width: 300px;
}

.movieDetail > div {
  padding: 2rem;
}

.movieDetail ul {
  padding: 0;
}

.movieDetail ul p {
  margin-right: 2rem;
}

.detailGenre li {
  position: relative;
}

.detailGenre li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #aeaeae;
  top: 10px;
  left: -18px;
  border-radius: 10px;
}

i span {
  margin-left: 0.5rem;
  font-size: 14px;
}

/* movieReview */
.reviewImg {
  display: block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: initial;
  margin: 0;
}

.movieReviewUl {
  padding: 0;
}

.movieReview > div {
  margin-left: 2rem;
}

.movieReview h4 {
  margin: 0;
}

.movieReview p {
  font-size: 14px;
  width: 500px;
  height: auto;
  color: #aeaeae;
  white-space: nowrap;
  overflow: hidden;
}

/* movieGenre */
.movieGenre {
  width: 100vw;
  box-sizing: border-box;
}

.movieGenreList li {
  margin: 0;
}

.movieGenreList img {
  width: 240px;
  margin-right: 12px;
  border-radius: 5px;
}

.movieGenre h3,
.movieGenre p {
  display: none;
}
